.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!out/**
node_modules/**
*.vsix
FULL_SPECIFICATION.md
AGENTS.md
.github/**
